<!DOCTYPE html>
<html lang="en">
<head>
    <title>main</title>
</head>



    <body>

        <ul>
            <li><a href="{{ url_for('upload')}}">upload image</a></li>
            <li><a href="{{ url_for('find')}}">find image</a></li>
            <li><a href="{{ url_for('db_config')}}">database configuration</a></li>
            <li><a href="{{ url_for('cache_config')}}">mem-cache configuration</a></li>
            <li><a href="{{ url_for('statistics')}}">current statistics</a></li>
        </ul>

    </body>
</html>